---
type: GUIElement
stereotype: "text"
package: "HomerSelect/BSL/Requirements Model/In process/LOR/LOR-9912 PIF PII Data Masking & New Access Right - Loan Origination/LOR-10355 RBP: integrate to /v2 PIF API"
domain: "Requirements Model"
element_id: 1827817
diagrams: 2
connections: 2
tags:
  - guielement
  - requirements-model
---

# 🖥️ {MOD}Contact under verification

> **Type**: GUIElement · **Stereotype**: «text»
> **Package**: HomerSelect/BSL/Requirements Model/In process/LOR/LOR-9912 PIF PII Data Masking & New Access Right - Loan Origination/LOR-10355 RBP: integrate to /v2 PIF API

## 📝 Notes

Not editable. Pre-filled with respective value of client's primary mobile phone number obtained from PIF module {DEL LOR-10355}and masked as follows:

	
- display last 4 digits
	
- preceding digits replaced by 'x'{/DEL}. {ADD LOR-10355}Value can be masked based on user roles (handled by PIF). {/ADD}


Localization code: 
APP_ContactUnderVerification

## 🔗 Connections (2)

- ← Generalization: [[Contact under verification (GUIElement 1621936)]]
- ← Generalization: [[Contact under verification (GUIElement 1621974)]]

## 📊 Appears In (2 diagrams)

- Custom: LOR-10355 RBP: integrate to /v2 PIF API
- Custom: Product
