---
type: Boundary
stereotype: ""
package: ""
domain: "_Uncategorized"
element_id: 1538240
diagrams: 0
connections: 1
tags:
  - boundary
  - _uncategorized
---

# 🔲 {DEL}Verification result

> **Type**: Boundary
> **Package**: N/A

## 📝 Notes

Name={DEL}Verification result;Type=Action;

## 🔗 Connections (1)

- ← Dependency: [[Result (GUIElement 1538238)]]
