---
type: GUIElement
stereotype: "text"
package: "HomerSelect/BSL/Analysis Model/Contract Origination/Manage Product Offer/User Interface Model/Choose Product Offer/X-sell offer recalculation/Vietnam"
domain: "Analysis Model"
element_id: 1580504
diagrams: 1
connections: 1
tags:
  - guielement
  - analysis-model
---

# 🖥️ Contact under verification

> **Type**: GUIElement · **Stereotype**: «text»
> **Package**: HomerSelect/BSL/Analysis Model/Contract Origination/Manage Product Offer/User Interface Model/Choose Product Offer/X-sell offer recalculation/Vietnam

## 📝 Notes

Mask phone number:

	
- display last 4 digits
	
- preceding digits replaced by 'x'.


This behavior has switch maskPhoneNumberInRBPProductCalculator

## 🔗 Connections (1)

- → Generalization: [[{MOD}Contact under verification (GUIElement 1827837)]]

## 📊 Appears In (1 diagrams)

- Custom: Vietnam
